/* Colorschmes:
blue
Primary: #4fc3f7
PrimaryL: #8bf6ff
PirmaryD: #0093c4
red
Secondary: #f06292
SecondaryL: #ff94c2
SecondaryD: #ba2d65 */
/* Googlefonts {
   font-family: 'Bowlby One SC', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Quattrocento Sans', sans-serif;
} */


p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: 900;
  
}
.h1font {
    font-size: 40px;
    font-family: 'Bowlby One SC', cursive;
    margin: -10px;

}
.Dblue {
    background-color: #0093c4;
    height: 40px;
    padding-top: 10px;
}

.h2font {
    font-size: 30px;
    font-family: 'Shrikhand', cursive;
    text-shadow: 1px 1px 2px #0093c4;
}
.h2row2marg{
    margin: -2px;
}
.h3font {
    font-size: 18px;
    font-family: 'Shrikhand', cursive;
}
.red {
    background-color: #f06292;
}
.blue {
    background-color: #4fc3f7;
}
.pink {
    background-color:#fce4ec
}
.headwrap {
    background-color: #ff94c2;
    height: 50px;
    box-shadow: 2px 2px 15px;
}

#gameNum {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;
    
    text-shadow: 2px 2px 20px #0093c4;
}

#yourNum {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 20px #0093c4;
}
#yourScore {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 20px #0093c4;
}
.instructions {
    background-color: #ff94c2;
    opacity: 0.99   ;
    margin: 20px;
    padding: 10px;
    /* box-shadow: 2px 2px 15px; */
}
#crystalOne {
    box-shadow: 2px 2px 15px;
}
#crystalTwo {
    box-shadow: 2px 2px 15px;
}
#crystalThree {
    box-shadow: 2px 2px 15px;
}
#crystalFour {
    box-shadow: 2px 2px 15px;
}